<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net481" />
  <package id="AutoMapper" version="10.1.1" targetFramework="net481" />
  <package id="DelegateDecompiler" version="0.32.1" targetFramework="net481" />
  <package id="DelegateDecompiler.EntityFramework" version="0.32.1" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="GenericLibsBase" version="1.0.1" targetFramework="net481" />
  <package id="GenericServices" version="1.0.9" targetFramework="net481" />
  <package id="log4net" version="2.0.17" targetFramework="net481" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net481" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net481" />
  <package id="Mono.Reflection" version="2.0.0" targetFramework="net481" />
  <package id="Moq" version="4.20.70" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="NUnit" version="3.14.0" targetFramework="net481" />
  <package id="Owin" version="1.0" targetFramework="net481" />
</packages>
