<h4>Post Validations</h4>
<p>To test the validations try the following:</p>
<ul>
    <li>
        <strong>Title</strong>: Must be 2 to 128 characters.
    </li>
    <li>
        <strong>Content</strong>: Required.
    </li>
    <li>
        <strong>Title with trailing '!'</strong>: The Post entity has a validation rule that does not allow Titles ending with '!'.
    </li>
    <li>
        <strong>Blogger</strong>: A blogger must be selected.
    </li>
    <li>
        <strong>Tags</strong>: At least one tag must be selected.
    </li>
</ul>
