<h4>Tag Validations</h4>
<p>To test the validations try the following:</p>
<ul>
    <li>
        <strong>Name</strong>: Required, max 128 characters.
    </li>
    <li>
        <strong>Slug</strong>: Required, max 64 characters, must be alphanumeric only (no spaces or special characters).
    </li>
    <li>
        <strong>Duplicate Slug</strong>: Each tag must have a unique slug.
    </li>
</ul>
