<?xml version="1.0" encoding="utf-8"?>
<!-- Coverage configuration for XPlat Code Coverage collection. -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[SampleWebApp]*</Include>
          <ExcludeByFile>**/Program.cs,**/*.cshtml,**/obj/**/*.cs,**/Extensions/**/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
